body {
    background-color: #eee;
    font-family: georgia;
  }
  h1 {
    font-family: "ChomskyRegular", Courier;
    font-weight: normal;
    font-style: normal;
  }
  .container {
    width: 70%;
    margin: auto;
  }
  .uIcon {
    max-width:auto;
    max-height:3em;
  }
  .icon {
    display: flex;
  }
  header {
    font-size: 2em;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
    border-bottom-style: dashed;
  }
  .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    margin: 0.75em 0;
  }
  .smlLinks {
    display: flex;
  }
  .smlView {
    position: relative;
    display: none;
    font-size: inherit;
  }
  .dropbtn {
    border: none;
    background-color: #eee;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .smlView:hover .dropdown-content {display: block}
  @media screen and (max-width: 1000px) {
    .banner {
      justify-content: space-between;
    }
    .smlLinks {
      display: none;
    }
    .smlView {
      display: inline-block;
    }
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0;
    margin: 0;
    font-weight: 600;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .container-one {
    margin: auto;
    display: flex;
    gap: 0.7em;
    padding-top: 0.5em;
  }
  .col-one {
    flex: 1 1 0%;
    padding: 0.5em;
  }
  .col-two {
    flex: 2 1 0%;
    padding: 0.5em;
  }
  .col-three {
    flex: 1 1 0%;
    padding: 0.5em;
  }
  .arc-img {
    max-width: 100%;
    max-height: 100%;
  }
  @media screen and (max-width: 600px) {
    .arc-img {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .arc-img {
      display: none;
    }
  }
  